[submodule "weather_looker/sources/cJSON"]
	path = weather_looker/sources/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "hash_table/sources/spookyhash"]
	path = hash_table/sources/spookyhash
	url = https://github.com/k0dai/spookyhash
[submodule "deamons/sources/jzon"]
	path = deamons/sources/jzon
	url = https://github.com/karl-zylinski/jzon-c.git
[submodule "http_server/sources/liburing"]
	path = http_server/sources/liburing
	url = https://github.com/axboe/liburing.git
